<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <!-- an ISessionFactory instance -->
    <session-factory>
        <!-- properties -->
        <property name="connection.provider">
            NHibernate.Connection.DriverConnectionProvider
        </property>
        <property name="connection.driver_class">
            NHibernate.Driver.MySqlDataDriver
        </property>
        <property name="connection.connection_string">
            Server=78.100.6.134;Database=fragment_test;User ID=fragment;Password=password;
        </property>
        <property name="dialect">
            NHibernate.Dialect.MySQL5Dialect
        </property>
        <!-- mapping files -->
        
        
    </session-factory>
</hibernate-configuration>